<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhishReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhishReport.Properties.Settings>
            <setting name="FwdAddress" serializeAs="String">
                <value>security@lab.local</value>
            </setting>
            <setting name="TargetFolder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Thanks" serializeAs="String">
                <value>Diky za nahlaseni</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Suspected spam</value>
            </setting>
            <setting name="Hint" serializeAs="String">
                <value>Nahlasit podezrely e-mail</value>
            </setting>
            <setting name="NoMailSelected" serializeAs="String">
                <value>Neni vybrany zadny mail</value>
            </setting>
        </PhishReport.Properties.Settings>
    </applicationSettings>
</configuration>