<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="PhishReport" Language="1033" Version="1.0.0.0" Manufacturer="Zdenek K." UpgradeCode="ba493dd6-fafb-4e8a-a393-4f1f2502477b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of PhishReport is already installed." />

		<Property Id="VSTORUNTIMEREDIST">
			<RegistrySearch
			  Id="VSTORuntimeRedist"
			  Root="HKLM"
			  Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
			  Name="Version"
			  Type="raw" />
		</Property>
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		
		<Property Id="FWD_ADDRESS" />
		<Property Id="SUBJECT_PREFIX" />
		<Property Id="CONFIRMATION_MESSAGE" />
		
		<PropertyRef Id="NETFRAMEWORK40FULL"/>
		<PropertyRef Id="NETFRAMEWORK45"/>

		<Condition Message='This setup requires Microsoft .NET Framework 4.0 Full or 4.5 package or greater for this application.'>
			<![CDATA[Installed OR NETFRAMEWORK40FULL OR NETFRAMEWORK45]]>
		</Condition>

		<Condition Message='This application requires at least Microsoft Windows 7'>VersionNT >= 601</Condition>

		<UI Id="UserInterface">
			<DialogRef Id="dlgSettings" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
			<TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

			<DialogRef Id="BrowseDlg" />
			<DialogRef Id="DiskCostDlg" />
			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="MaintenanceWelcomeDlg" />
			<DialogRef Id="MaintenanceTypeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

			<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>
			<Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"></Publish>

			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg"></Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="10">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="dlgSettings" Order="20">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="10">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="20">1</Publish>

			<!-- settings dialog -->
			<!-- settings2 dialog -->

			<!-- Back button declaration so no error on build -->
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="dlgSettings2"></Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
			
			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
		</UI>
		<WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
		<UIRef Id="WixUI_Common" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<Media Id="1" Cabinet="PhishReport.cab" EmbedCab="yes"/>
		
		<Feature Id="ProductFeature" Title="PhishReport" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="Registry_FriendlyName" />
			<ComponentRef Id="Registry_Description" />
			<ComponentRef Id="Registry_Manifest" />
			<ComponentRef Id="Registry_LoadBehavior" />
		</Feature>
	</Product>


	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PhishReport" />
				<Component Id="Registry_FriendlyName">
					<RegistryValue Id="RegKey_FriendlyName" Root="HKLM" Key="Software\Microsoft\Office\Outlook\AddIns\PhishReport" Name="FriendlyName" Value="PhishReport Add-In for Outlook" Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_Description">
					<RegistryValue Id="RegKey_Description" Root="HKLM" Key="Software\Microsoft\Office\Outlook\AddIns\PhishReport" Name="Description" Value="Outlook add-in for reporting of suspicious e-mails" Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_Manifest">
					<RegistryValue Id="RegKey_Manifest" Root="HKLM" Key="Software\Microsoft\Office\Outlook\AddIns\PhishReport" Name="Manifest" Value="[INSTALLFOLDER]PhishReport.vsto|vstolocal" Type="string" KeyPath="yes" />
				</Component>
				<Component Id="Registry_LoadBehavior">
					<RegistryValue Id="RegKey_LoadBehavior" Root="HKLM" Key="Software\Microsoft\Office\Outlook\AddIns\PhishReport" Name="LoadBehavior" Value="3" Type="integer" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="PhishReport_vsto_Component">
				<File Id="PhishReport_vsto" KeyPath="yes" Name="PhishReport.vsto" Source="$(var.AddinFiles)"></File>
			</Component>
			<Component Id="PhishReport_dll_manifest_Component">
				<File Id="PhishReport_dll_manifest" KeyPath="yes" Name="PhishReport.dll.manifest" Source="$(var.AddinFiles)"></File>
			</Component>
			<Component Id="PhishReport_dll_Component" >
				<File Id="PhishReport_dll" KeyPath="yes" Name="PhishReport.dll" Source="$(var.AddinFiles)" />
			</Component>
			<Component Id="PhishReport_dll_config_Component" >
				<File Id="PhishReport_dll_config" KeyPath="yes" Name="PhishReport.dll.config" Source="$(var.AddinFiles)" />
			</Component>
			<Component Id="PhishReport_settings_xml_Component" >
				<File Id="PhishReport_settings_xml" KeyPath="yes" Name="PhishReport.settings.xml" Source="$(var.AddinFiles)" />
				<util:XmlFile Id="SetFwAddress" File="[#PhishReport_settings_xml]" Action="setValue" ElementPath="/PhishReport/Settings/FwdAddress" Value="[FWD_ADDRESS]" Permanent="yes" />
				<util:XmlFile Id="SetThanks" File="[#PhishReport_settings_xml]" Action="setValue" ElementPath="/PhishReport/Settings/ConfirmationMessage" Value="[CONFIRMATION_MESSAGE]" Permanent="yes" />
				<util:XmlFile Id="SetSubject" File="[#PhishReport_settings_xml]" Action="setValue" ElementPath="/PhishReport/Settings/SubjectPrefix" Value="[SUBJECT_PREFIX]" Permanent="yes" />
			</Component>			
			<Component Id="Microsoft_Office_Tools_Common_v4_0_Utilities_dll">
				<File Id="Microsoft_Office_Tools_Common_v4_0_Utilities_dll" KeyPath="yes" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="$(var.AddinFiles)"></File>
			</Component>
			<Component Id="Microsoft_Office_Tools_Outlook_v4_0_Utilities_dll_Component">
				<File Id="Microsoft_Office_Tools_Outlook_v4_0_Utilities_dll" KeyPath="yes" Name="Microsoft.Office.Tools.Outlook.v4.0.Utilities.dll" Source="$(var.AddinFiles)"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>